@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 455, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: rgb(114, 0, 142);
    
}
 @import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:wght@300&display=swap');
*{
 
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style:normal
    
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
